/* Hide dialog by default. Ensure it's visible only when the <dialog> has the `open` attribute. */
.modal {
    display: none;
}

/* When the dialog is opened (has attribute open), display as an overlay */
.modal[open] {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: none;
    border: none;
    z-index: 1000;
}
.modal[open]::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

.modal-form {   
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    position: relative;
    min-height: 80%;
    aspect-ratio: 16/9;
    border-radius: 12px;
    padding: 16px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.modal-constrols-container{
    text-align: right;
    /* background-color: aqua; */
}
.modal-constrols-container > input{
    display: inline-block;
    height: 50px;
    aspect-ratio: 1/1;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    border: none;
    background: none;
    transition: scale 0.3s ease;
}
.modal-constrols-container > button:active{
    scale: 0.8;
}

.modal-title{
    text-align: center;
}

.modal-body{
    width: 100%;
    flex-grow: 1;
    border-radius: 8px;
    border: none;
    overflow: clip;
}

#map{
    border-radius: 8px;
    overflow: clip;
}

#map{
    width: 100%;
    height: 100%;
    border: solid 2px #000;
}