.carac_obra{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,auto);
    gap: 10px;
    align-items: stretch;

}
.carac_obra >.sub_title{
    grid-column: 1/6;
}

.carac_obra >.carac_obra-observaciones{
    grid-column: 4/6;
    grid-row: 2/5; /*MODDDD*/
}

.carac_obra >.carac_obra-vertederos{
    grid-column: 2/4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.carac_obra >.carac_obra-vertederos >.sub_title{
    width: 100%;
}


.carac_obra >.carac_obra-estruc_aux{
    grid-row: 4/6;
}
.carac_obra >.carac_obra-estruc_aux >div>input{
    width: 40px;
    padding: 4px;
}

.carac_obra-disenos{
    display: grid;
    gap: 5px;
}

.carac_obra >.carac_obra-disenos{
    grid-column: 2/4;
    grid-row: 4/6;
}

.carac_obra-disenos > div{
    max-width: 100%;
}
.carac_obra-disenos > div h2{
    text-align: center;
    grid-column: 1/4;
}
.carac_obra-disenos > div input[type="checkbox"], .carac_obra-disenos > div input[type="radio"]{
    display: none;
}
.carac_obra-disenos > div label{
    cursor: pointer;
    text-align: center;
    border: 2px solid #ccc;
}
.carac_obra-disenos > div input[type="checkbox"]:checked + label, .carac_obra-disenos > div input[type="radio"]:checked + label {
    border: 2px solid #28e;
}

.carac_obra-otros_canales{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.carac_obra-otros_canales label{
    border: none !important;
    text-transform: uppercase;
    white-space: pre;
}
.carac_obra-otros_canales input{
    border: none;
    border-bottom: 1px solid #000;
    width: 90%;
}

.carac_obra >.carac_obra-disenos img{
    max-width: 100%;
}



.carac_obra >.carac_obra-medidas{
    grid-column: 4/6;
    grid-row: 5/6; /*MODDDDDD*/

    display: grid;
    grid-template-columns: auto 1fr;

}
.carac_obra >.carac_obra-medidas >.sub_title{
    grid-column: 1/3;
}

.carac_obra >.carac_obra-medidas >input{
    border: none;
    border-bottom: solid 2px #000;
}

.danos_estructurales > div {
    gap: 10px;
    margin: 0;
}
.danos_estructurales .danos_concr, .danos_estructurales .danos_acero{
    flex-grow: 1;
}

.container_meto_apli{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    align-items: stretch;
}

.meto_apli{
    grid-column: 1/3;
}
.div_3col.meto_apli{
    gap: 5px;
    padding: 5px;
    text-align: center;

}

.sub_title-boceto{
    grid-column: 1/3;
}

.meto_apli-imgContainer{
    position: relative;
    padding: 0;

}
.meto_apli-imgContainer >h3{
    position: absolute;
    width: 100%;
}

.meto_apli-imgContainer >.img_guidelines{
    display: flex;
    align-items: center;
    height: 60px;
}
.meto_apli-imgContainer >.img_guidelines_m{
    border: dashed 2px #0008;
}

.meto_apli-mortero{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0 20px;

}
.meto_apli-mortero label{
    height: 35px;
}

.meto_apli-mortero img{
    height: 100%;
    width: 100%;
    border: solid 1px #000;
}

.pg2_footer{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    align-items: stretch;
}

.pg2_footer-leyenda{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 5px;
}
.pg2_footer-leyenda >.sub_title{
    grid-column: 1/3;
}

.org_parti{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 5px;
    
    text-align: center;
    
}
.org_parti >.sub_title{
    grid-row: 1/5;
}